<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<!-- thymeleaf works by utilize html namespaces -->
<!-- if we want to avoid any assumed errors we need to declare the namespace like so: -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"><head><title>Home Page</title></head>
<body>
<h1>Hello !</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
<ul th:each="book : ${books}">
    <li th:text="${book.title}">book title</li>
</ul>
</body>
</html>
